<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
        <span class="data-right">
          <nav>
            <ul>
              <li><span class="user"><%= @_user.identificateur %></span> 
                <ul>
                  <li><a href="/">home</a></li>
                  <li><a href="/management/restaurateur">restaurateur</a></li>
                  </li>
                </ul>
              </li>
              <li>
                  <a href="/api/signout" class="connect">Deconnection</a>   
              </li>
            </ul>
          </nav>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
      <div class="dashboard-header">
        <h1 class="dashboard-title">DASHBOARD<span class="dashboard-title-spec">RESTAURATEUR</span></h1>
      </div>

      </div>
         <div class="dashboard-body">
          <div class="dashboard">
            <div class="management-menu">
                <div class="data-admin">
                    <ul class="no-bullet">
                      <li><a class="admin-btn-style" href="javascript:app.app_menus();" >menu</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_menu_preparation();" >commandes</a></li> 
                     </ul>
                </div>
            </div>
            <div class="management-content">
                <div id="menus" class="row">
                    <div class="large-12 columns group">
                      <div class="row">
                          <div  class="large-3 columns group">
                            <span class="resto-menu" >Restaurant : <span id="resto"> </span></span>
                          </div>
                        </div>
                    </div>
                    <div class="large-12 columns group">
                      <div class="row">
                        <div  class="large-12 columns group">
                          <span class="resto-menu" >Menu : <span  id="" class="rstoid"></span><span id="menu"></span><a id="id-newPlat" href="javascript:app.restaurateur.newPlat()">nouveau plat</a><a id="newMenu" href="javascript: app.restaurateur.newMenu()">nouveau</a></span>
                        </div>
                       <div  class="large-12 columns group">
  
                        <div class="row" id="menu-form">
                          <div class="large-3 columns">
                              <span class="left" > Nouveau menu</span>
                              <input id="resto_menu" type="text" placeholder="nom du menu"/>
                          </div>
                          <div class="large-3 columns left"><br/>
                            <span style="position: relative; top: 5px;"><a class="admin-btn-style" href="javascript:app.restaurateur.bindMenu()" >creer</a></span>
                          </div>
                        </div>
                        <div class="row" id="plats-form">
                          <div  id="nouveau-plat">
                              <div class="large-3 columns">
                                  <span class="left" > Nouveau plat</span>
                                  <input id="plat_nom" type="text" placeholder="nom du plat"/>
                                  <input id="plat_prix" type="text" placeholder="prix du plat"/>
                                  <input id="plat_description" type="text" placeholder="description du plat"/>
                                  <div class="alert-box error" id="plats-error">
                                  </div>
                              </div>
                              <div class="large-1 columns left">
                                <span style="position: relative; top: 5px;"><a class="admin-btn-style" href="javascript:app.restaurateur.createPlat()">creer</a></span>
                              </div>
                          </div>
                          <div class="large-4 columns left" id="list-plat">
                              <span class="left">list plat</span></br/>
                                <ul class="left" id="ul-plats">                                                        
                                </ul>
                          </div>
                          <div class="large-3 columns left" id="modifier-plat">
                              <span class="left" > modification plat</span>
                              <input id="plat_mod-nom" type="text" placeholder="nom du plat"/>
                              <input id="plat_mod-prix" type="text" placeholder="prix du plat"/>
                              <input id="plat_mod-description" type="text" placeholder="description du plat"/>
                              <span style=""><a id="plat_mod-action" class="admin-btn-style" href="#" >confirmer</a></span>
                          </div>                         
                        </div>
                      </div>                        
                      </div>
                    </div>
                </div>
          <div id="menu-preparation" class="row">
             <div class="large-8 columns group cmd-pret">
                <table class="large-12 columns tble">
                    <tbody class="commandes-items"></tbody>
                </table>
              </div>
                   <div class="large-4 columns group order" id="cmd">
          <div class="row left">
                  <div class="large-6 columns">
                    <span class="add-title" id="cmd-id">#4<span></span></span>
                  </div>
                  <div class="large-6 columns ">
                    <span class="bill-price" id="cmd-prix">18$</span>
                  </div>
                  <div class="large-12 columns bill">
                      <span id="cmd-conf">wrw3-wrwr</span>
                  </div>
                  <div class="large-12 columns bill">
                     <span>Feb 26, 2014 12:00:00 PM</span>
                  </div>
                  <div class="large-12 columns bill">
                    <span class="space" id="addr_no_maison"></span>
                      <span class="space" id="addr_rue"></span>
                      <span class="space" id="addr_ville"></span>
                      <span class="space" id="addr_code_postal"></span><br/>
                      <span class="space" id="addr_telephone"></span>
                  </div>
                    <div class="large-12 columns">
                     <p></p>
                    </div>
                  <div class="large-12 columns bill">
                    <div class="order-items">
                    </div>
                  </div>
                  <div class="large-12 columns bill">
                    ------------------------------------------------------------
                    <span class="bill">total<span class="bill-price" id="cmd-total"></span></span>
                  </div>
                  <div class="large-12 columns bill">
                     <a class="admin-btn-style" id="cmd-function" href="" >Terminer</a>
                  </div>
                </div>
                </div>
            </div>
            </div>
       </div>
    </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>
<script type="text/javascript">
  app.app_menus();
  app.restaurateur.init();
  app.restaurateur.getRestaurant();
  app.restaurateur.getMenu();
  app.restaurateur.getPlats();
  // app.restaurateur.getCommandesNotReady();
</script>
