
<% if session[:current_user_id] != nil %>
<h1> allo </h1>
<% else %>
  <div class="app-background">
    <div class="login-app">
          <div class="row">
            <div class="large-12 columns">
               <div class="row login-management-header">
                 <span class="layout-management-title">Luna</span>
              </div>
              <div class="row">
                 <span class="layout-management-p">Hello. Please login.</span>
              </div>
              <div class="row">
                <div class="large-10 columns">
                  <input type="text" id="_aka"  placeholder="identifiant"/>

                  <input type="password" id="_password" placeholder="password"/>
                  <div id="oauth-error" class="alert-danger">
                      <p class="message-error"></p>
                    </div>
                </div>
                <div class="large-12 columns">
                  <div class="push-management-center">
                  <a class="management-btn-style" href="javascript:app.oauth()">sign in</a>
                   <a class="management-btn-style" href="javascript:app.app_register()">Register</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
      <div class="register-app">
          <div class="row">
            <div class="large-8 columns">
               <div class="row login-management-header">
                 <span class="layout-app-title">Luna</span>
              </div>
              <div class="row">
                 <span class="layout-management-p">Hello. Please register.</span>
              </div>
              <div class="row">
                        <div class="large-12 columns">
            <div class="row">
            <div class="large-6 columns">
                    <input type="text"     id="inscription_nom"      placeholder="nom"/>
                    <input type="text"     id="inscription_prenom"   placeholder="prenom"/>
                    <input type="email"    id="inscription_email"    placeholder="adresse courriel"/>
                    <input type="text"     id="inscription_identificateur"  placeholder="nom d'utilisateur"/>
                    <input type="password" id="inscription_motDePass" placeholder="mot de passe"/>
               
              </div>
              <div class="large-6 columns">
                  <input type="text"     id="inscription_dateNaissance"  placeholder="date de naissance"/>
                  <div class="large-4 columns">
                    <input type="text"     id="adresse_numero"        placeholder="num"/>
                  </div>
                   <div class="large-8 columns">
                    <input type="text"     id="adresse_code_postale"  placeholder="code postale"/>
                  </div>
                    <input type="text"     id="adresse_rue"           placeholder="rue"/>
                    <input type="text"     id="adresse_ville"         placeholder="ville"/>
                    <input type="tel"      id="adresse_telephone"     placeholder="téléphone"/>
              </div>
              <div class="large-12 columns">
                   <div id="register-error" class="alert-danger">
                      <p class="register-message-error"></p>
                    </div>
              </div>
      </div>
                <div class="large-12 columns">
                  <div class="push-app-center">
                  <a class="management-btn-style" href="javascript:app.register()">Save me</a>
                   <a class="management-btn-style" href="javascript:app.app_signin()">sign in</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
