
<% if session[:current_user_id] != nil %>

  <% if @_user.type == 'Client' %>
<div class="app-background">
    <span class="session">
  <nav>
    <ul>
      <li><%= @_user.identificateur %> 
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/users/profile">profile</a></li>
          </li>
        </ul>
      </li>
      <li>
          <a href="/api/signout" class="connect">Deconnection</a>   
      </li>
    </ul>
  </nav>
      <span class="cart"><a href="javascript:app.general.showCart()">cart</a></span>
    </span>
    <span class="app-main-title">Luna</span>
    <div>
      <div class="restaurantsElements">
       <div class="menus">
            <div class="menu">
        <div>
          <span>List restaurants</span>
        </div>
      </div>
        <div class="plat-lst">
          <ul class="left" id="lstRestaurants">  
          </ul>
        </div>
       </div>
        <div class="plats">
          <div class="menu">
              <div>
                <span><span id="resto-menu"></span></span>
              </div>
          </div>
          <div class="plat-lst">
          <ul class="" id="ul-plats">                                                        
          </ul>
        </div>
       </div>
      </div>
    </div>
    <div class="shoopingCart">
      <span class="cartTitle">shooping cart</span><a class="shoopingCart-close c-btn-style" href="javascript:app.general.cartClose()">X</a>
      <div class="row">
        <!-- <div class="items large-8 columns"> -->
        <div>
          <table class="large-7 columns">
              <tbody class="cart-items">
              </tbody>
          </table>
        </div>
        <div id="complete_order" class="large-5 columns">
          <div class="cmd">
            <a class="c-btn-style" href="javascript:app.general.adresses()">adresses</a>
            <a class="c-btn-style" href="javascript:app.general.nAdresse()">nouvelle adresse</a>
          </div>
          <div class="adresses">
            <div class="large-12 columns">
              <ul id="adresses_list">
              <ul>
              </div>
          </div>
        <div id="complete_order" class="large-10 columns">
          <div class="adresse">
            <div class="large-6 columns">
              <input type="text"     id="n_adresse_numero"        placeholder="num"/>
            </div>
             <div class="large-9 columns">
              <input type="text"     id="n_adresse_code_postale"  placeholder="code postale"/>
            </div>
            <input type="text"     id="n_adresse_rue"           placeholder="rue"/>
            <input type="text"     id="n_adresse_ville"         placeholder="ville"/>
            <input type="tel"      id="n_adresse_telephone"     placeholder="téléphone"/>
            <a class="c-btn-style" href="javascript:app.general.bAdresse()">ajouter</a>
          </div>
          <div class="cart_dt">
            <input type="text" id="liv_date"  placeholder="date de livraison"/>
            <input type="text" id="liv_heure"  placeholder="heure de livraison"/>
            <a class="c-btn-style" href="javascript:app.general.confirmCart()">confirmer</a>
          </div>
        </div>
        </div>
        <div>
          <div id="complete_sucess" class="large-5 columns">
            <span>confirmation:  <span id="token"></span></span><br/>
            <span>date: <span id="order_date"></span></span><br/>
            <span>heure: <span id="order_time"></span></span><br/>
            <span>total: <span id="order_total"></span></span>
          </div>
        </div>      
      </div>
    </div>
</div>
 <script type="text/javascript">
      app.general.init();
      app.general.app_restaurants();
  </script>
  <% elsif @_user.type != 'Client' %>
  <div class="app-background">
    <% if @_user.type == 'Restaurateur' %>
    <span class="session">
      <nav>
        <ul>
          <li><span class="user"><%= @_user.identificateur %></span> 
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/management/restaurateur">restaurateur</a></li>
              </li>
            </ul>
          </li>
          <li>
              <a href="/api/signout" class="connect">Deconnection</a>   
          </li>
        </ul>
      </nav>
    </span>
    <% elsif @_user.type == 'Livreur' %>
    <span class="session">
      <nav>
        <ul>
          <li><span class="user"><%= @_user.identificateur %></span> 
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/management/livraison">livraison</a></li>
              </li>
            </ul>
          </li>
          <li>
              <a href="/api/signout" class="connect">Deconnection</a>   
          </li>
        </ul>
      </nav>
    </span>
    <% elsif @_user.type == 'Entrepreneur' %>
    <span class="session">
      <nav>
        <ul>
          <li><span class="user"><%= @_user.identificateur %></span> 
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/management/entrepreneur">entrepreneur</a></li>
              </li>
            </ul>
          </li>
          <li>
              <a href="/api/signout" class="connect">Deconnection</a>   
          </li>
        </ul>
      </nav>
    </span>
    <% end %>
    <span class="app-main-title">Luna</span>
    <div class="restaurantsElements">
        <div class="menu">
            <div>
              <span><span id="resto-menu">tu ne peux pas commander :(</span></span>
            </div>
        </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="app-background">
    <div class="login-app">
          <div class="row">
            <div class="large-12 columns">
               <div class="row login-management-header">
                 <span class="layout-management-title">Luna</span>
              </div>
              <div class="row">
                 <span class="layout-management-p">Hello. Please login.</span>
              </div>
              <div class="row">
                <div class="large-10 columns">
                  <input type="text" id="_aka"  placeholder="identifiant"/>

                  <input type="password" id="_password" placeholder="password"/>
                  <div id="oauth-error" class="alert-danger">
                      <p class="message-error"></p>
                    </div>
                </div>
                <div class="large-12 columns">
                  <div class="push-management-center">
                  <a class="management-btn-style" href="javascript:app.users.oauth()">sign in</a>
                   <a class="management-btn-style" href="javascript:app.general.app_register()">Register</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
      <div class="register-app">
          <div class="row">
            <div class="large-8 columns">
               <div class="row login-management-header">
                 <span class="layout-app-title">Luna</span>
              </div>
              <div class="row">
                 <span class="layout-management-p">Hello. Please register.</span>
              </div>
              <div class="row">
                        <div class="large-12 columns">
            <div class="row">
            <div class="large-6 columns">
                    <input type="text"     id="inscription_nom"      placeholder="nom"/>
                    <input type="text"     id="inscription_prenom"   placeholder="prenom"/>
                    <input type="email"    id="inscription_email"    placeholder="adresse courriel"/>
                    <input type="text"     id="inscription_identificateur"  placeholder="nom d'utilisateur"/>
                    <input type="password" id="inscription_motDePass" placeholder="mot de passe"/>
               
              </div>
              <div class="large-6 columns">
                  <input type="text"     id="inscription_dateNaissance"  placeholder="date de naissance"/>
                  <div class="large-4 columns">
                    <input type="text"     id="adresse_numero"        placeholder="num"/>
                  </div>
                   <div class="large-8 columns">
                    <input type="text"     id="adresse_code_postale"  placeholder="code postale"/>
                  </div>
                    <input type="text"     id="adresse_rue"           placeholder="rue"/>
                    <input type="text"     id="adresse_ville"         placeholder="ville"/>
                    <input type="tel"      id="adresse_telephone"     placeholder="téléphone"/>
              </div>
              <div class="large-12 columns">
                   <div id="register-error" class="alert-danger">
                      <p class="register-message-error"></p>
                    </div>
              </div>
      </div>
                <div class="large-12 columns">
                  <div class="push-app-center">
                  <a class="management-btn-style" href="javascript:app.users.register()">Save me</a>
                   <a class="management-btn-style" href="javascript:app.general.app_signin()">sign in</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
      app.general.app_open();
            
  </script>
<% end %>

